*,
html,
body {
  /*box-sizing: border-box;*/
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  text-align: center;
}

a { color: #00B7FF; }

div#sign-up-or-log-in {
  width: 100%;
  position: relative;
}

form.sign-up,
form.log-in {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 400px;
  padding: 0 50px;
  margin-top: 50px;
}

form > h2 {
  margin-bottom: 50px;
}

span.vertical-divider {
  position: absolute;
  height: 90%;
  border: 1px solid black;
  margin-top: 70px;
}

.red-border {
  border: 2px solid red;
}
