<div id="articles-container" ng-cloak>
  <h2>Articles Container</h2>
  <ul class="nav nav-tabs">
    <li ng-click="vm.myArticles = true; vm.getMyArticles()" ng-class="vm.myArticles ? 'active' : ''" role="presentation">
      <a href="#/articles">My Articles</a>
    </li>
    <li ng-click="vm.myArticles = !vm.myArticles; vm.getArticles()" ng-class="!vm.myArticles ? 'active' : ''" role="presentation">
      <a href="#/articles">All Articles</a>
    </li>
      <!-- <button class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>Add
      </button> -->
  </ul>

  <div>
    <form ng-submit="vm.submitLink(vm.userLink)" id="submit-link">
      <div class="input-group">
        <input ng-model="vm.userLink" type="link" class="form-control" id="input-link" placeholder="Add an article by submitting a link...">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
        </span>
      </div>
    </form>
  </div>

  <div masonry class="flex_container" id="articles_container">
    <div ng-repeat="article in vm.articles" class="flex_item masonry-brick" id="article_box">
      <div ng-click="vm.open(article)" class="article_card">
        <div class="article_item" id="title"><a href="{{article.url}}">{{article.title}}</a></div>
        <div class="article_item" id="image"><img src="{{article.thumbnailImg}}" alt=""></div>
        <div class="article_item" id="description"><p>{{article.description}}</p></div>
        <span ng-repeat="subject in article.subjects" class="article_item" id="tags">
          <span class="label label-primary">{{subject}}</span>
        </span>
        <!-- <button type="button" class="btn btn-default" ng-click="vm.open(article)">...</button> -->
    </div>
    </div>
  </div>

      <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
            <h3 class="modal-title">{{article.title}}</h3>
            <div class="article_item" id="image"><img src="{{article.thumbnailImg}}" alt=""></div>
          </div>
          <div class="modal-body" ng-bind-html="article.text" ng-mouseup="logSelectedText()">
          </div>
          <div class="modal-footer">
            <span ng-repeat="subject in article.subjects" class="article_item" id="tags">
              <span class="label label-primary">{{subject}}</span>
            </span>
              <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
          </div>
      </script>


</div>
